.container {
  max-height: 88vh;
}
.form-login {
  background: #fafafa;
  box-shadow: 0px 1px 1px 1px #dddddd;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 45px;
  height: 88vh;
  min-width: 375px;
  max-width: 35%;
}
h3 {
  text-align: center;
  font-size: 24px;
}
button {
  width: 100%;
  margin-top: 30px;
}
