<section *ngIf="isShow" [ngClass]="{
    'alert-success': message.type === 'success',
    'alert-danger': message.type === 'danger',
    'alert-info': message.type === 'info',     
    'alert-warning': message.type === 'warning' 
    }">

  <div class="alert-item">
    <div class="alert-item-body">{{message.body}}
      <button mat-icon-button (click)="notClose()" *ngIf="message.action">
        <i class="material-icons">check</i>
      </button>
    </div>

    <button mat-icon-button (click)="close()" *ngIf="message.action">
      <i class="material-icons">close</i>
    </button>
  </div>

</section>