.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;

  /* outline: 1px solid #000; */
  padding-top: 30px;
  padding-bottom: 50px;
}
a {
  box-sizing: border-box;
  flex: 1 1 40%;
  /* flex: 0 1 33%; */
}
mat-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px !important;
}
.paginator-block {
  padding: 5px 17px !important;
}

.mat-paginator-container {
  margin: 0 !important;
}
.comment-block {
  margin: auto;
}
.query-str {
  font-size: 18px;
  font-weight: 700;
}

a {
  text-decoration: none;
}
