<div class="card-item">
  <mat-card>
    <a [routerLink]="['/films', film.id]">
      <img src="{{imgPath + film.poster_path}}" alt="{{film['title']}}" class="img-film">
    </a>
    <div class="block-content-card">
      <mat-card-content>
        <!-- <div class='block-header-card'> -->
        <app-status-icon [ratingVote]="film['vote_average']" [sizeRatingIcon]="sizeRat"></app-status-icon>
        <mat-card-title> {{film['title']}}</mat-card-title>
        <!-- </div> -->
        <p> {{ film['overview'] | slice:0:140}}... </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button color="primary">
          <i class="material-icons">
            play_arrow
          </i>
        </button>
        <button mat-icon-button color="primary">
          <i class="material-icons">
            menu
          </i>
        </button>
        <button mat-icon-button color="primary" (click)="addFavourite(film['id'])" [ngClass]="{'redColor': statusIcon}">
          <i class="material-icons"> {{statusIcon? 'favorite' : 'star'}}</i>
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>