.card-item {
  box-shadow: 0px 1px 0px 1px #eee;
  min-width: 500px;
  max-height: 278px;
  overflow: hidden;
  margin: 7px;
}
mat-card {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  position: relative;
}
mat-card-content {
  padding: 3px 10px;
}
.block-content-card {
  position: relative;
  width: 100%;
}
mat-card-actions {
  position: absolute;
  bottom: -20px;
  right: 30px;
}

app-status-icon {
  position: absolute;
  top: 0;
  left: 15px;
}

.mat-card-title {
  margin-left: 60px;
  padding-top: 9px;
}

/* стили для 3-ч карточек в ряд*/
/* .card-item {
  /* box-shadow: 0px 1px 0px 1px #eee;
 
  border: 1px solid red;
}
mat-card {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
}
.img-film {
  max-height: 475px;
  overflow: hidden;
} */
