<div class='modal-win' #modalWin>
    <div class="swirl swirlIn">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="wrapper-main-block" [ngStyle]="{'background-image':'url(https://image.tmdb.org/t/p/w1280' + dataDescriptionFilm?.backdrop_path + ')'}">
    <div class="container-bg">
        <!-- <div class="container " *ngIf="dataDescriptionFilm?.poster_path"> -->
        <div class="container ">

            <div class="main-desc-block">
                <div class="img-block">

                    <ng-container *ngIf="dataDescriptionFilm?.poster_path; then filmImg else noFilmImg"></ng-container>
                    <ng-template #filmImg>
                        <img src="https://image.tmdb.org/t/p/w300_and_h450_face{{dataDescriptionFilm.poster_path}}">
                    </ng-template>
                    <ng-template #noFilmImg>
                        <img src="http://via.placeholder.com/300x450">
                    </ng-template>

                </div>

                <div class="content-block">
                    <div class="title-content">
                        <h1> {{dataDescriptionFilm?.title}}</h1>
                        <span> ( {{dataDescriptionFilm?.release_date | slice:0:4 }})</span>
                    </div>

                    <div class="desc-content">
                        <h3>Обзор</h3>
                        {{ dataDescriptionFilm?.overview }}
                    </div>

                    <div class="social-block">
                        <ul>
                            <li class='chart'>
                                <app-status-icon *ngIf="dataDescriptionFilm?.vote_average" ratingVote="{{dataDescriptionFilm.vote_average}}" [sizeRatingIcon]="sizeRat"></app-status-icon>
                                <span>Рейтинг
                                    <br>зрителей</span>
                            </li>
                            <li>
                                <button mat-icon-button color="primary">
                                    <i class="medium material-icons">
                                        view_headline
                                    </i>
                                </button>
                            </li>
                            <li>
                                <button mat-icon-button color="primary">
                                    <i class="medium material-icons">
                                        favorite_border
                                    </i>
                                </button>
                            </li>
                            <li>
                                <button mat-icon-button color="primary">
                                    <i class="medium material-icons">
                                        bookmark_border
                                    </i>
                                </button>
                            </li>
                            <li>
                                <button mat-icon-button color="primary">
                                    <i class="large material-icons">
                                        play_arrow
                                    </i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Блок инофрмации об актерах и выпуске фильма -->
<div class="block-info-film">
    <!-- <div class="container" *ngIf="dataDescriptionFilm?.poster_path"> -->
    <div class="container">
        <div class="wrapper-block-imfo">
            <div class="white-blick">
                <h3>В главных ролях</h3>
                <div class="wrapper-actors">
                    <mat-card class="actor-card" *ngFor="let actor of dataCharactersFilm?.cast | slice:0:10">
                        <ng-container *ngIf="actor.profile_path; then filmImg else noFilmImg"></ng-container>
                        <mat-card-content>
                            <p>
                                <strong>{{actor.name}}</strong>
                                <br>{{actor.character}}
                            </p>
                        </mat-card-content>

                        <ng-template #filmImg>
                            <img src="https://image.tmdb.org/t/p/w138_and_h175_face/{{actor.profile_path}}">
                        </ng-template>
                        <ng-template #noFilmImg>
                            <img src="https://via.placeholder.com/138x175">
                        </ng-template>
                    </mat-card>
                </div>
            </div>
            <div class="gray-block">
                <h4>Факты</h4>

                <p>
                    <strong>Оригинальное название</strong>
                    <br> {{dataDescriptionFilm?.original_title}}
                </p>
                <p>
                    <strong>Статус</strong>
                    <br> {{dataDescriptionFilm?.status}}
                </p>
                <p>
                    <strong>Оригинальное язык</strong>
                    <br> {{dataDescriptionFilm?.status}}
                </p>
                <p>
                    <strong>Продолжительность</strong>
                    <br> {{dataDescriptionFilm?.runtime}}мин
                </p>
                <p>
                    <strong>Бюджет</strong>
                    <br> {{dataDescriptionFilm?.budget | currency:'USD'}}
                </p>
                <p>
                    <strong>Сборы</strong>
                    <br> {{dataDescriptionFilm?.revenue | currency:'USD'}}
                </p>
                <p>
                    <strong>Домашняя страница</strong>
                    <br> {{dataDescriptionFilm?.homepage | slice:0:25}}...
                </p>
            </div>
        </div>
    </div>
</div>