.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;

  /* outline: 1px solid #000; */
  padding-top: 30px;
  padding-bottom: 50px;
}
.wrapper-main-block {
  /* background-color: rgba(35, 59, 79, 0.2); */
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-bg {
  background-image: radial-gradient(
    circle at 20% 50%,
    rgba(12.55%, 24.71%, 34.51%, 0.98) 0%,
    rgba(12.55%, 24.71%, 34.51%, 0.88) 100%
  );
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95); */
}
.main-desc-block {
  width: 100%;

  display: flex;
  flex-direction: row;
}
.content-block {
  flex: 1;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}
.title-content h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 32px;
}
.title-content span {
  font-size: 24px;
  font-weight: 500;
}
.desc-content h3 {
  margin-top: 30px;
  font-size: 24px;
}
.social-block ul {
  list-style: none;
  margin: 0;
  padding: 0;

  /* outline: 1px solid red; */
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-block button {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  width: 47px;
  height: 47px;
}
.social-block button i {
  margin-bottom: 4px;
}
.social-block button:hover {
  background-color: #21d07a;
}

.social-block .chart {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 45px;
}
.social-block li {
  margin: 0 15px;
}
app-status-icon {
  margin-right: 20px;
}
.block-info-film {
  overflow: hidden;
}
.wrapper-actors {
  display: flex;
  flex-flow: row wrap;
}
.wrapper-actors mat-card {
  width: 138px;
  box-shadow: 0px 1px 1px 1px #f7f7ff;
  padding: 0px 5px !important;
}
.wrapper-block-imfo {
  display: flex;
  flex-flow: row nowrap;
}
.wrapper-actors {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 30px 0 0;
}
mat-card {
  width: 138px;
  text-align: left;
  margin-bottom: 15px;
  box-shadow: 0 1px 1px 1px #ddd;
}
mat-card img {
  width: 138px;
  height: 175px;
}

.gray-block {
  flex: 0 0 300px;
  /* outline: 2px solid tomato; */
  padding-left: 30px;
  position: relative;
}
.gray-block:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  width: 1000%;
  height: 1000%;
  background-color: #f7f7f7;
  z-index: -1;
}
