/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.container {
  margin: auto;
}
body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  margin: 0 !important;
  position: relative;
}
